.hotmenu {
  display: flex;
  justify-content: center;
}

.hotLink {
  text-decoration: none;
  color: rgb(94, 94, 94);
  margin: 0 1vmax 1vmax 1vmax;
  padding: 0.5vmax 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hotLink:hover {
  text-decoration: none;
  color: orangered;
  border-bottom: 1px solid orangered;
}
